#root::before {
    content: '';
    inset: 0;
    height: 100vh;
    position: absolute;
    background-color: red;
    background-image: url(./assets/noise-gen.png), linear-gradient(to right bottom, #0889fc, #0a1a27);
    z-index: -1;
}